# Task 1

### 1) Write a program to get the data type of a data

In [1]:
z=[1326,23]
type(z)

list

### 2) Write a program to convert a integer data type to float data type

In [2]:
x=10
int(x)

10

### 3) Write a program to convert a integer data type to float data type and vice versa

In [3]:
x=55
print(float(x))
v = 45.7
print(int(v))

55.0
45

### 4) Write a programme to get the actual location of the data

In [4]:
y=10
y=int(input("Enter Any Value "))

id(y)

Enter Any Value 10

2243321162320

### 5) Give an example of implict conversion and explict conversion

In [5]:
x=1
y=1.1
z=x+y
k=int(y)

print("the implicit is{} and explicit is {} ".format(z,k))

the implicit is2.1 and explicit is 1

### 6) Write a programme to prove that python is a case senstive language

In [6]:
aashish=('Mumbai')
Aashish

NameError: name 'Aashish' is not defined

### 7) Write a programme to get a syntax error

In [16]:
x=1
y=1.1
z=x+y
k=int(y)

print("the implicit is{} and explicit is {} ",.format(z,k))

SyntaxError: invalid syntax (4272612209.py, line 6)

### 8) Write a programme to get a type error

In [17]:
x=100+0j
int(x)

TypeError: can't convert complex to int

### 9) Give an example of mulitple statement in a single line

In [18]:
ab=44 ; AD=1326

10) Give an example of single line statement in multiple line

In [15]:
10\
+\
10\
*\
3

40